//Colors
$primary-color: #343381;
$contrast-color: white;
$dark-violet: hsl(257, 27%, 26%);

$error-color: hsl(0, 87%, 67%);

$button-color: hsl(180, 66%, 49%);
$button-color2: #159e9e;
$gray-color: hsl(0, 0%, 75%);
$grayish-violet-color: hsl(257, 7%, 63%);
$very-dark-blue-color: hsl(255, 11%, 22%);
$very-dark-violet-color: hsl(260, 8%, 14%);

//Breakpoints
$small-bp: 800px;
$medium-bp: 1080px;

//Layout
$header-height: 50px;
$max-width-container: 1040px;
