@import "../../../../styles/sass/_variables";
@import "../../../../styles/sass/_mixins";

.navMenuItem__container {
  margin: 12px;
  font-weight: 600;
  transition: color 300ms ease-in-out;
}
.navMenuItem__container:hover {
  color: $dark-violet;
}

.signUp {
  @include gradientButton;
  border-radius: 50px;
  height: 35px;
  padding: 5px 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  min-width: 115px;
  transition: all 300ms ease-in-out;
}
.signUp:hover {
  @include gradientButtonLight;
  color: white;
}

@media (min-width: $small-bp) {
  .navMenuItem__container {
    padding: 0;
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
}
